.activeMenuSelection {
    font: bold 14px "Verdana";
    color:  #000000;
    background-color : #c7c3c3;
}

.resultGreen {
	white-space: pre-line;
    background-color: #32cd32;
    color:  #000000;
    font-weight: normal;
}
.resultRed {
	white-space: pre-line;
    background-color:  #dc143c;
    color:  #000000;
    font-weight: normal;
}
.resultYellow {
	white-space: pre-line;
    background-color:  #fcc200;
    color:  #000000;
    font-weight: bold;
}

.menuGreen .ui-selectonemenu-label { 
    background: #32cd32;
}
.menuRed .ui-selectonemenu-label { 
    background: #dc143c;
}
.menuYellow .ui-selectonemenu-label { 
    background: #fcc200 ;
}

.text {
	padding: 3px;
	font: bold 11px "Verdana";
	vertical-align: top;
	color: #000000;
	text-align: left;
	text-decoration: none;
}

.textLabel {
	margin-top: 2px;
	padding: 3px;
	font: 11px "Verdana";
	vertical-align: top;
	color: #000000;
	text-align: right;
	text-decoration: none
}

.requiredStyle  {
    color: red !important;
}
    
body.custom-background 
{ 
	background-color: #6495ed;
}
.sectionTitle {
	font: bold 32px "Verdana";
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	color:  #000000;
}

.sectionSubTitle {
	font: bold 22px "Verdana";
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	color:  #000000;
}

.englishSpanishStyle {
	font: bold 8px "Verdana";
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	color:  #000000;
}

.pageSectionTitle {
	font: bold 17px "Verdana";
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	color:  #000000;
}

.pageSectionSubTitle {
	font: bold 14px "Verdana";
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	color:  #000000;
}

.dataTableStyle {
	font: bold 14px "Verdana";
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	color:  #000000;
}

.ui-menubar	{
	font: bold 17px "Verdana";
	vertical-align: top;
	text-align: left;
	background: #b0e0e6;
}

.inputbox {
    position: relative;
    margin: 20px 0; 
    max-width: 550px;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease-in-out;
  }
  
  .inputbox input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
  }
  
  .inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 12px;
    transition: all 0.5s ease-in-out;
  }


.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
  font-size: 0.9rem;
  color: #a8a8a8;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.register {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
  transition: all 0.5s ease-in-out;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.register p a:hover {
  text-decoration: underline;
  color: #a8a8a8;
}


